* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.row {
  width: 100%;
  height: 100%;
}
.row::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
.row .col-10, .row .col-md-10 {
  float: left;
  width: 83.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row .col-10::after, .row .col-md-10::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
.row .col-8, .row .col-md-8 {
  float: left;
  width: 66.66%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row .col-8::after, .row .col-md-8::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
.row .col-6, .row .col-md-6 {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row .col-6::after, .row .col-md-6::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
.row .col-4, .row .col-md-4 {
  float: left;
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row .col-4::after, .row .col-md-4::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
.row .col-3, .row .col-md-3 {
  float: left;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row .col-3::after, .row .col-md-3::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
.row .col-2, .row .col-md-2 {
  float: left;
  width: 16.66%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row .col-2::after, .row .col-md-2::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
@media screen and (max-width: 768px) {
  .row .col-md-10,
.row .col-md-8,
.row .col-md-6,
.row .col-md-4,
.row .col-md-3,
.row .col-md-2 {
    width: 100%;
  }
}

.board {
  border-radius: 7px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.board .board-title {
  background-color: #eee;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  font-size: 22px;
  padding-left: 32px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.board .board-content {
  background-color: white;
}

.wrapper {
  width: 100%;
  min-width: 1440px;
  background-color: #eee;
  margin: auto;
  position: relative;
}
.wrapper .header-mobile {
  display: none;
}
.wrapper .menu {
  background-color: #494cb4;
  color: white;
  width: 256px;
  height: 100%;
  font-size: 22px;
  position: fixed;
  top: 0px;
  left: 0px;
  transform: translate(-186px);
  transition: all 1s;
}
.wrapper .menu ul li {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.wrapper .menu ul li p {
  width: 166px;
  opacity: 0;
  transition: transform 0.6s ease-out;
}
.wrapper .menu ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  transition: all 1s;
}
.wrapper .menu:hover {
  transform: translate(0px);
}
@-webkit-keyframes text-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper .menu:hover p {
  -webkit-animation: text-appear 1s forwards;
          animation: text-appear 1s forwards;
  transform: translate(100px);
}
.wrapper .menu:hover i {
  transform: translate(-166px);
}
.wrapper .header {
  padding-left: 96px;
  height: 72px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
}
.wrapper .header .search {
  display: flex;
  width: 100%;
}
.wrapper .header .search .search-box {
  width: 270px;
  height: 54px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding-left: 14px;
  font-size: 18px;
  transition: all 1s;
}
.wrapper .header .search .search-box::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-size: 18px;
}
.wrapper .header .search .search-box:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-size: 18px;
}
.wrapper .header .search .search-box::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-size: 18px;
}
.wrapper .header .search .search-box:focus {
  outline: none;
  box-shadow: 0px 0px 10px #39b5e6;
  width: 470px;
}
.wrapper .header .search input[type=submit] {
  display: none;
}
.wrapper .header .search .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  background-color: #343a40;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  position: relative;
  left: -54px;
  transition: all 1s;
}
.wrapper .header .search .search-button i {
  font-size: 22px;
}
.wrapper .header .search .search-box:focus .search-button {
  transform: translate(200px);
}
.wrapper .header .notification {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  padding-right: 62px;
}
.wrapper .header .notification .notification-column {
  position: relative;
  display: flex;
  align-items: center;
}
.wrapper .header .notification .notification-column .notification-badge {
  background-color: #dc3545;
  color: white;
  position: absolute;
  top: -11px;
  right: -15px;
  font-size: 14px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  border-radius: 5px;
}
.wrapper .header .notification .notification-column i {
  margin-left: 52px;
  font-size: 20px;
}
.wrapper .header .notification .notification-column .notification-name {
  margin-left: 48px;
}
.wrapper .main {
  padding-left: 96px;
  margin-top: 40px;
}
.wrapper .main .dashboard-title {
  font-size: 22px;
}
.wrapper .main .dashboard {
  margin: 36px 0px;
  width: 100%;
  height: 140px;
}
.wrapper .main .dashboard .card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  margin-right: 52px;
}
.wrapper .main .dashboard .card-container .card--skyblue {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #87ceeb;
}
.wrapper .main .dashboard .card-container .card--green {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #42ca5c;
}
.wrapper .main .dashboard .card-container .card--navy {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #494cb4;
}
.wrapper .main .dashboard .card-container .card--yellow {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #ffd36f;
}
.wrapper .main .dashboard .card-container .card-text .card-title {
  font-size: 18px;
  margin-bottom: 24px;
}
.wrapper .main .dashboard .card-container .card-text .card-content {
  font-size: 22px;
  font-weight: 700;
  color: black;
}
.wrapper .main .dashboard .card-container i {
  font-size: 42px;
}
.wrapper .overview {
  width: 100%;
  padding-bottom: 36px;
}
.wrapper .overview .graph,
.wrapper .overview .list {
  width: 100%;
  margin-right: 52px;
}
.wrapper .overview .graph .chart {
  width: 100%;
  padding: 20px 50px;
}
.wrapper .overview .list li:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.wrapper .overview .list li .task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}
.wrapper .overview .list li .task-item .task-name {
  font-size: 22px;
}
.wrapper .overview .list li .task-item .task-number {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  background-color: #007bff;
  height: 22px;
  padding: 0px 12px;
  padding-bottom: 1px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    min-width: 0px;
  }
  .wrapper .header-wide {
    display: none;
  }
  .wrapper .header-mobile {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    align-items: center;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.3);
  }
  .wrapper .header-mobile i {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 8px 12px;
  }
  .wrapper .main .dashboard {
    height: 200px;
  }
  .wrapper .main .dashboard .card-container {
    margin-right: 26px;
    padding-bottom: 20px;
  }
  .wrapper .overview .graph,
.wrapper .overview .list {
    margin-right: 26px;
    margin-top: 20px;
  }
  .wrapper .overview .graph .chart {
    padding: 0px 10px;
  }
}/*# sourceMappingURL=admin-page.css.map */