* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  margin: 80px 300px;
}

.btn {
  border: none;
  background-color: #87ceeb;
  color: white;
  padding: 14px;
  border-radius: 5px;
}

.btn:hover {
  animation-name: btn-rock;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes btn-rock {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cross {
  font-size: 80px;
}

.cross:hover {
  animation-name: rotate-cross;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes rotate-cross {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(45deg) scale(200%);
  }
}

.menu {
  position: absolute;
  top: 0;
  background-color: black;
  color: white;
  width: 300px;
  height: 100vh;
  transform: translate(-150px);
  transition: 1s;
}

.menu-title {
  margin: 50px;
  text-align: end;
  font-weight: 700;
}

.menu-item {
  text-align: center;
  animation: item-back 1s forwards;
}

.menu:hover {
  transform: translate(0px);
}

.menu:hover .menu-title {
  text-align: center;
}

.menu:hover .menu-item {
  animation: 0.7s item-dance forwards;
}

@keyframes item-dance {
  0% {
    transform: translate(-20px);
  }
  50% {
    transform: skew(-30deg) translate(60px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes item-back {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-20px);
  }
}
