* {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  background-image: url("../img/shoes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: aliceblue;
  margin-top: 20px;
  padding: 1px 50px;
  box-sizing: border-box;
}

.container h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

.container p {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  margin-bottom: 20px;
}

.container button {
  padding: 25px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  background-color: yellowgreen;
  border: none;
  border-radius: 50px;
  color: inherit;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
