* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.row {
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    display: block;
    clear: both;
    float: none;
  }

  @mixin col($w) {
    float: left;
    width: $w;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      display: block;
      clear: both;
      float: none;
    }
  }

  .col-10 {
    @include col(83.33%);
  }

  .col-8 {
    @include col(66.66%);
  }

  .col-6 {
    @include col(50%);
  }

  .col-4 {
    @include col(33.33%);
  }

  .col-3 {
    @include col(25%);
  }

  .col-2 {
    @include col(16.66%);
  }

  .col-md-10 {
    @extend .col-10;
  }

  .col-md-8 {
    @extend .col-8;
  }

  .col-md-6 {
    @extend .col-6;
  }

  .col-md-4 {
    @extend .col-4;
  }

  .col-md-3 {
    @extend .col-3;
  }

  .col-md-2 {
    @extend .col-2;
  }

  @media screen and (max-width: 768px) {
    .col-md-10,
    .col-md-8,
    .col-md-6,
    .col-md-4,
    .col-md-3,
    .col-md-2 {
      width: 100%;
    }
  }
}

.board {
  border-radius: 7px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.1);

  .board-title {
    background-color: #eee;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    font-size: 22px;
    padding-left: 32px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  .board-content {
    background-color: white;
  }
}
