* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  background-color: #ff7576;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 5px;
  color: white;
  display: flex;
  padding: 10px;
}

nav .nav-column:first-child {
  flex-grow: 1;
}

.nav-column {
  margin: 10px;
}

.new-nav {
  justify-content: space-between;
  padding: 20px;
}

.new-column {
  display: flex;
}

.small-column {
  margin-left: 20px;
}
